// Pagination
.pagination-link.is-current {
    background-color: #00d1b2;
}

.side-menu {
    position: fixed;
    height: 500vh;
    width: 300px;
    background-color: white;
    overflow-y: scroll;
}

.menu-list a:hover {
    border-radius: 2px;
    background: turquoise;
    display: block;
    padding: 0.5em 0.75em;
    color: white;
}

.management-area {
    background-color: whitesmoke;
    position: absolute;
    top: 4rem;
    left: 300px;
    right: 0;
}

.flex-container {
    margin: 5px 25px;
}

pre {
    font-size: 1em !important;
    padding: 0 !important; 
}

// Submenu 
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list li ul {
    margin-top: 0;
    margin-bottom: 0;
}

.menu-list a.is-active {
    background-color: $primary;
    color: #fff;
}

.fa {
    margin-right: 10px;
}

// .fa-chevron-down {
//     left:10px;
// }