
// REMOVE Scroll Bar
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    // display: none;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

// Pagination
.pagination-link.is-current {
    background-color: #00d1b2;
}

#admin-side-menu {
    position: fixed;
    top: 4rem;
    left: -250px; // hidden by default when mobile first off screen
    height: 500vh;
    width: 250px; // default setting 
    // background-color: white;
    overflow-y: scroll;
    transition: left 0.35s ease-in-out;

    //media query
    @include desktop {
        left: 0; // when the screen desktop 
    }
    // @media only screen and (min-width: 1024) {
        // left: 0;
    // }
 
    &.is-active {
        transition: left 0.35s ease-in-out;
        left: 0;
    }
}

#admin-slideout-button {
    //rotate the icon to 180deg
    transition: 0.3s;
    &.is-active {
        transition: 0.3s;
        transform: rotateY(180deg)
    }
}

.navbar-burger {
    border: none;
}

.menu-list a:hover {
    border-radius: 2px;
    background: turquoise;
    display: block;
    padding: 0.5em 0.75em;
    color: white;
}

.management-area {
    position: absolute;
    top: 4rem;
    left: 300px;
    right: 0;
}

.flex-container {
    margin: 5px 25px;
    background: #fff;
}

pre {
    font-size: 1em !important;
    padding: 0 !important; 
}

// Submenu 
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list li ul {
    margin-top: 0;
    margin-bottom: 0;
}

.menu-list a.is-active {
    background-color: $primary;
    color: #fff;
}

.fa {
    margin-right: 10px;
}

// .fa-chevron-down {
//     left:10px;
// }